<div style="padding: 10px">
    <table class="table table-borderless" style="width: 100%">
        <col width="50%">
        <col width="auto">
        <tr>
            <td class="text-center">
                <div style="border-style: solid; border-color: #007bff; border-width: 8px; border-radius: 25px">
                    <br>
                    <table class="table table-borderless">
                        <tr>
                            <td><button type="button" class="btn btn-outline-primary btn-lg" style="width:50%"><i class="far fa-building"></i> Floor 3</button></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-outline-primary btn-lg" style="width:50%"><i class="far fa-building"></i> Floor 2</button></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-outline-primary btn-lg" style="width:50%"><i class="far fa-building"></i> Floor 1</button></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-outline-primary btn-lg" style="width:50%"><i class="far fa-building"></i> Floor G</button></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-outline-primary btn-lg" style="width:50%"><i class="far fa-building"></i> Floor B</button></td>
                        </tr>
                    </table>
                    <table class="table table-borderless">
                        <col width="50%">
                        <tr>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-lg btn-block"><i class="fas fa-door-open"></i> Open Door</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-lg btn-block"><i class="fas fa-door-closed"></i> Close Door</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-lg btn-block"><i class="far fa-bell"></i> Alarm</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-lg btn-block"><i class="far fa-stop-circle"></i> Run Stop</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-lg btn-block"><i class="fas fa-phone"></i> Call for Assistance/Help</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-lg btn-block"><i class="fas fa-phone-slash"></i> Call Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <br>
                </div>
            </td>
            <td>

                
               
            </td>
        </tr>
    </table>

</div>