<div class="text-center" style="padding: 10px">

    <div class="text-block">
        <br>
        <h3>HCI-3366-HW1</h3>
        <br>
    </div>

    <div class="text-block">
        <h4>Links</h4>

        <a href="https://michbish.github.io/HCI-3366-HW1/">Presentation page</a>
        <br>
        <a href="https://github.com/michbish/HCI-3366-HW1">Github repo</a>
        <br>
        <a href="https://michbish.github.io/HCI-3366-HW1/demo">Demo page</a>
        <br>
        <a href="https://github.com/michbish/HCI-3366-HW1/blob/master/assets/Elevator.jpg">Elevator Picture</a>
        <br>
        <a href="https://github.com/michbish/HCI-3366-HW1/blob/master/assets/Elevator.gif">Elevator Gif</a>
        <br>
        <a href="https://github.com/michbish/HCI-3366-HW1/blob/master/assets/rough_sketch.PNG">Elevator Interface Sketch</a>
        <hr>
    </div>

    <div class="text-block">
        <h4>Part 1</h4>
        <p>Images and gif of the elevator in Holden Hall.</p>
    </div>

    <div style="margin: 10px">
        <img src="./assets/Elevator.jpg" alt="Elevator" style="max-width: 100%; max-height: 600px">
    </div>
    <div style="margin: 10px">
        <img src="./assets/Elevator.gif" alt="Elevator" height="600px" width="auto" style="border-style: solid; border-color: #007bff; border-width: 9px">
    </div>

    <div class="text-block">
        <p>The current design problems are:</p>

        <ul>  
            <li>The call cancel is to high and out of reach of handicapped and shorter people. If the call assistence button is accidently hit the call cancel button is to high for some people.</li>
            <li>Floor ⭐️V doesn’t indicate what the purpose of that floor means. It should have a G instead to illistrate that floor is at ground level and the orignal G button needs a B for basement as it is below the actual ground level.</li>
            <li>The close door button seems to be two buttons. Removing unnecessary buttons will help with to much confusion.</li>
            <li>Removing the obvious issue with the missing buttons covered with a note which are the open door buttons, which have been ordered as the note states.</li>
        </ul>
        <hr>
    </div>

    <div class="text-block">
        <h4>Part 2</h4>

        <p>Uses for elevators:</p>

        <ul>
            <li>Common:
                <ul>
                    <li>Moving floors</li>
                    <li>Unable to use the stairs because of body restrictions</li>
                    <li>Unable to use the stairs because of volume of carried object(s)</li>
                </ul>
            </li>
            <li>Rare:
                <ul>
                    <li>Moving larger objects such as desks, chairs, furniture</li>
                    <li>Moving larger parcels</li>
                    <li>Moving product such as drinks and snacks for vending machines</li>
                </ul>
            </li>
            <li>Yes except for large object movers and hadicapped people as the V floor is ambiguous.</li>
        </ul>

        <p>Common sequence of actions:</p>

        <ol type="1">
            <li>Press call button outside of elevator to go up or down</li>
            <li>Press floor number button</li>
            <li>Press close door button (optional)</li>
        </ol>

        <p>or</p>

        <ol type="1">
            <li>Press call button outside of elevator to go up or down</li>
            <li>Press multiple floor numbers</li>
            <li>Press close door button (optional)</li>
        </ol>

        <p>Elevator user design for ease of use:</p>

        <ul>
            <li>Consistency across all controls</li>
            <li>Well designed icons on or next to buttons i.e. the number 1 on or next to a button with the icon and button in an black oval</li>
            <li>Buttons layed out either in a single column or in such a way that is consistent and labeled clearly</li>
        </ul>

        <p>User Feedback:</p>

        <ul>
            <li>Buttons will usually press in when pressed</li>
            <li>Buttons will light up</li>
            <li>When the elevator arrives on a floor or is about to start moving a bell chimes</li>
            <li>LCD screen on the inside of the elevator label which floor the elevator is on</li>
            <li>Out side the elevator on each floor two lights in a column light up showing in which direction the elevator is going apon arrival to the floor</li>
        </ul>

        <p>Common mistakes:</p>
        <ul>
            <li>Accidently pushing the wrong button for the ground/basement level.</li>
            <li>Getting "stuck" in the elevator since the door open buttons are "missing" (until they replace the buttons).</li>
        </ul>

        <p>Improvements:</p>
        <ul>
            <li>Move the "Call Cancel" button from the fire hazard section to the right of the "Call"/Phone button on the bottom of the interface. This will allow handicap and shorter people to cancel an accidental call.</li>
            <li>Change the button with V to G. With the basement floor labeled with a B the actual ground floor can be relabeled with a G. The star usually indicated the ground floor anyway.</li>
            <li>Change the orignial button with G to B. The Original button with G is actually the basement and a map of the floor that is next to the elevator on that floor even says basement.</li>
            <li>Remove the first row from the top of open/close buttons. This will get rid of any confusion about which one will open the doors.</li>
        </ul>

    </div>

    <div style="margin: 10px">
        <img src="./assets/rough_sketch.PNG" alt="Elevator Sketch" style="max-width: 100%; max-height: 600px">
    </div>

    <div class="text-block">
        <hr>

        <h4>Part 3</h4>
        
        <ul>
            <li><a href="https://michbish.github.io/HCI-3366-HW1/demo">Demo page</a></li>
            <li>Screen size: 12inch</li>
        </ul>
        <br>
    </div>

</div>
